<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>@ViewBag.Title - MeetingApp</title>
    <link rel="stylesheet" href="~/lib/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <header>
        <div class="bg-primary text-white p-2 text-center">MeetingApp</div>
    </header>
    <main>
        <div class="container mt-3">
            <div class="col-lg-6 mx-auto text-center">
                <div class="card">
                    <div class="card-body"> @RenderBody()</div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>