@model ProductCategoryModel
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_menu",Model.Categories)
    </div>

    <div class="col-md-9">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row no-gutter">
                    <div class="col-md-4">
                        <img src="~/img/@Model.Movie.ImageUrl" alt="" class="card-img">
                    </div>
                    <div class="col-md-8">

                        <h5 class="card-title">
                            <b>@Model.Movie.Name</b>
                        </h5>
                        <p class="card-text">
                            @Model.Movie.LongDescription
                        </p>
                        <p class="card text">
                            <small class="text-muted">3 Days Ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>