@model Post
<h2>Post Ekle</h2>
<hr>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label">
            Başlık
        </label>
        <input asp-for="Title" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label">
            İçerik
        </label>
        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
    </div>
    <div class="mb-3 input--group">
        <label for="Image" class="form-label">Resim</label>
        <input type="file" name="Image" id="Image" class="form-control">

    </div>
    <div class="mb-3">
        <label asp-for="UserID" class="form-label">Kullanıcı</label>
        <select asp-for="UserID" asp-items="@ViewBag.Users" class="form-select">
            <option value="">Seciniz</option>
        </select>
    </div>

    <div class="mb-3 form-check">
        <input asp-for="IsActive" class="form-check-input">
        <label asp-for="IsActive" class="form-check-label">Aktiflik</label>
    </div>


    <button type="submit" class="form-control btn btn-primary">Kaydet</button>
</form>