
    @model Product
    <form asp-action="Create" method="post" class="form">
        <div asp-validation-summary="All"></div><!--tum hataları yazırır-->
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control">
        </div>
        <div class="mb-3 form-check">
            <input asp-for="IsActive" class="form-check-input">
            <label asp-for="IsActive" class="form-check-label"></label>
        </div>
        <div class="mb-3">
            <button type="submit" class="form-control">Kaydet</button>
        </div>
    </form>